/* Recipes Page */

.recipe-card img {
  height: 40%;
  object-fit: cover;
}

/* One Recipe Page */
.recipe-img {
  max-height: 350px;
  object-fit: cover;
  width: 100%;
}

.col-40 {
  flex: 0 0 40%;
  max-width: 300px;
}

.col-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.ingredient {
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.carrot-list-bullet {
  padding-right: 15px;
}

.ingredient-name {
  text-align: left;
}

.quantity {
  text-align: right;
  color: gray;
  padding-left: 4px;
}

.instructions-section {
  text-align: left;
}

.instructions li {
  margin-bottom: 20px;
}

/* Spinner */
.carrot-spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
  transform-origin: center;
  text-shadow: 0 0 10px rgba(43, 168, 74, 0.4);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************ Profile Page *************/

.plans-container {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  min-width: 70%;
}

.total-shopping-list {
  background-color: rgb(148, 3, 170);
  color: white;
  min-height: 100%;
  min-width: 30%;
}

.total-shopping-list .quantity {
  color: white;
}

.plan {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
